.hero-slider-container {
  width: 425px;
  height: 270px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  align-self: center;
}

.hero-slider {

  &__text-danger {
    color: red;
    position: absolute;
    left: 143px;
    top: 165px;
    font-size: 12px;
  }

  &__header {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #5e6977;
  }

  &__image {
    width: 100px;
    height: 100px;
    align-self: center;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    margin-top: 20px;
    background-size: cover;
    margin-bottom: 20px;

    &-slider {
      background-size: contain;
      margin: auto;

      &:focus,
      &:active {
        outline: none!important;
      }
    }
  }
}

.slide {
  height: 120px;
  width: 100px!important;
  background: transparent;
  border: 1px solid #5e6977;
  border-radius: 3px;

  &:focus,
  &:active {
    outline: none!important;
  }
}

.slick-next {
  background: url('./images/next.png') center center no-repeat !important;

  &::before {
    display: none;
  }
}

.slick-prev {
  background: url('./images/back.png') center center no-repeat !important;

  &::before {
    display: none;
  }
}

