@font-face {
  font-family: 'Lato';
  src: url('lato-regular.eot');
  src: url('lato-regular.eot') format('embedded-opentype');
  src: url('lato-regular.woff') format('woff');
  src: url('lato-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('lato-bold.eot');
  src: url('lato-bold.eot') format('embedded-opentype');
  src: url('lato-bold.woff') format('woff');
  src: url('lato-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('lato-light.eot');
  src: url('lato-light.eot') format('embedded-opentype');
  src: url('lato-light.woff') format('woff');
  src: url('lato-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
